body {    
    font-family: sans-serif;
    height: 200vh;
    }

.nav-bar{  
    background:rgba(0,0,0,.8);
    position:sticky;
    top:5px;
    font-family: 'Open Sans', sans-serif;
}
      
.nav-bar ul{
    background-color:black;
    text-align: left;
    border: 0.2rem solid grey;
}
      
.nav-bar li{
    display:inline-block;
    padding: 0rem;   
}
      
.nav-bar a{
    background-color:black;
    padding:1rem;
    display:block;
    margin:1rem;
    color:white;
    text-transform:uppercase;
    font-weight:bold;
    text-decoration:none;
}
      
.nav-bar a:hover{
    color:rgb(233, 12, 12);
}

h1{
    font-size:1.3cm;
    margin: 4rem 2rem 2rem 2rem;    
    text-align: center;
    border-top:3px solid black;
    border-bottom:3px solid black;       
}

.flexbox-container{
    display:flex;    
    flex-flow: row nowwrap;                  
}

.flexbox-item{    
    width: 30rem;
    height:0 auto;
    margin:3rem auto 2rem auto;    
    background-color: lightgrey;
    padding:1rem;
    border-top-left-radius: 40px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 40px; 
    border:2px solid black;   
}

.interest-in-coding{
    text-decoration:underline;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.experiences{
    text-decoration:underline;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.interests{
    text-decoration:underline;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.maps{
    display:flex;   
    justify-content: space-around; 
    flex-flow: row nowwrap; 
    margin-top: 3rem;   
}

.where-I-was-born{    
    padding: 1rem;
    background-color: black; 
    color: white; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.cities-I-have-visited{    
    padding: 1rem;
    background-color: black; 
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 
 }

 .where-I-was-born{    
    font-weight: bold; 
    font-size: large;
}

.cities-I-have-visited{    
    font-weight: bold; 
    font-size: large;
 }
